/* Root element styling */
#root {
  max-width: 1280px; /* Set maximum width for the container */
  margin: 0 auto; /* Center the container horizontally */
  padding: 2rem; /* Add padding inside the container */
  text-align: center; /* Center align text within the container */
}

/* Logo styling */
.logo {
  height: 6em; /* Set the height of the logo */
  padding: 1.5em; /* Add padding around the logo */
  will-change: filter; /* Optimize for filter changes */
  transition: filter 300ms; /* Smooth transition for filter changes */
}

/* Logo hover effect */
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa); /* Apply a drop shadow on hover */
}

/* React-specific logo hover effect */
.logo.react:hover {
  filter: drop-shadow(
    0 0 2em #61dafbaa
  ); /* Apply a drop shadow for React logo */
}

input[type="date"] {
  border: none;
  background: none;
  padding: 5px; /* Add some padding for better usability */
}

/* Keyframes for spinning logo animation */
@keyframes logo-spin {
  from {
    transform: rotate(0deg); /* Start rotation at 0 degrees */
  }
  to {
    transform: rotate(360deg); /* End rotation at 360 degrees */
  }
}

/* Apply spinning animation when motion preference is not reduced */
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear; /* Spin the logo infinitely over 20 seconds */
  }
}

/* Card styling */
.card {
  padding: 2em; /* Add padding inside the card */
}

/* Read the docs link styling */
.read-the-docs {
  color: #888; /* Set the text color to a gray shade */
}
